<p>Bonjour,</p>

<p>Vous avez été invité à rejoindre la plateforme <strong>{{platformName}}</strong> en tant qu'administrateur pour le
    laboratoire <strong>{{labName}}</strong>.</p>

<p>Vous pouvez désormais activer votre compte et configurer vos accès en cliquant sur le bouton ci-dessous :</p>

<div style="text-align: center;">
    <a href="{{setupLink}}" class="button">Activer mon compte</a>
</div>

<p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email.</p>