<p>Bonjour,</p>

<p>Une demande de réinitialisation de mot de passe a été effectuée pour votre compte MedLab.</p>

<p>Si vous êtes à l'origine de cette demande, cliquez sur le bouton ci-dessous pour choisir un nouveau mot de passe :
</p>

<div style="text-align: center;">
    <a href="{{resetLink}}" class="button">Réinitialiser mon mot de passe</a>
</div>

<p>Ce lien est valide pour 1 heure.</p>

<p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email en toute sécurité.</p>